body{ margin: 0;padding: 0;font-family: 'Roboto', sans-serif;}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.main-container {margin: 25% auto; display: flex; justify-content: center;
    align-items: center; height: 100vh;
}
.result-container,
.status-container {
  width: 50%;
  text-align: center;
}

.result-container {background:linear-gradient(180deg, #714acc 0%, #66a6ff 100%);
     border-radius: 28px; width: 350px; height: 400px;
display: flex; flex-direction: column; align-items: center;}

.result-container h2{
    margin-top:30px;
    color: antiquewhite;
}

.result {
    margin-top:10px;
    border-radius: 120px;
    width: 130px; height: 130px;
    background:linear-gradient(to top, rgba(82, 47, 172, 0.2) 0%, #66a6ff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result h1 {
    margin-bottom: 0;
    color: aliceblue;
    font-size: 40px
}
.result p{
    margin-top:0
}

.result-D {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.result-D {
    color: white;
    
}

.status-container {
    background-color: rgb(231, 239, 247);
    width: 350px; height:400px;
    box-shadow:  0.1px 6px  30px #888888;
    border-radius: 30px;
}

li{
    width: 250px;
    height: 40px;
    margin-top: 5px;
    list-style: none;
    background-color: azure;
}
